.additionally__item {
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  margin-left: 46px;
}

.additionally {
  position: relative;
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 29px;
}

@media (min-width: @tablet-width) {
  .additionally {
    margin-bottom: 23px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .additionally {
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
}

.additionally__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;
  display: inline-block;
  padding-right: 22px;
  padding-left: 40px;
  margin-left: -40px;
  margin-top: 0;
  background: #ffffff;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .additionally__title {
    margin-bottom: 55px;
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;
  }
}

.additionally__title::before,
.additionally__title::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100vw;
  height: 3px;
  margin-top: -10px;
  background: @leaf;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .additionally__title::before,
  .additionally__title::after {
    top: 85%;
  }

  .additionally__title::before {
    right: 0;
  }
}

.additionally__column {
  flex: 0 0 100%;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .additionally__column {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__column {
    flex: 0 0 25%;
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.additionally__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

@media (min-width: @tablet-width) {
  .additionally__row {
    margin-left: -30px;
    margin-right: -30px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__row {
    margin-left: -40px;
    margin-right: -40px;
  }
}

.additionally input[type="checkbox"],
.additionally input[type="radio"] {
  display: none;
}

.additionally__label {
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;
  display: block;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  color: @light-black;
}

.additionally__label:active {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .additionally__label {
    padding-left: 60px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .additionally__label {
    padding-left: 55px;
  }
}

.additionally__label--check {
  margin-bottom: 4px;
}

@media (min-width: @tablet-width) {
  .additionally__label--check {
    margin-bottom: 32px;
  }
}

.additionally__label::before {
  content: "";
  display: none;
  position: absolute;
  left: 9px;
  top: 50%;
  margin-top: -3px;
  width: 12px;
  height: 21px;
  border-right: 1px solid @leaf;
  border-bottom: 1px solid @leaf;
  transform: translateY(-50%) rotate(45deg);
}

@media (min-width: @tablet-width) {
  .additionally__label::before {
    left: 15px;
  }
}

.additionally input[type="checkbox"]:checked + label::before,
.additionally input[type="radio"]:checked + label::before {
  display: block;
}

.additionally__label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid @very-light-gray;
}

.additionally__label:hover::after {
  border: 1px solid @pinkish-grey;
}

@media (min-width: @tablet-width) {
  .additionally__label::after {
    width: 40px;
    height: 40px;
  }
}
