.back-green {
  position: absolute;
  top: -5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: @leaf;
}

@media (min-width: @tablet-width) {
  .back-green {
    right: -250px;
    top: 20px;
    width: 200px;
    height: 200px;
  }
}

@media (min-width: @desktop-width) {
  .back-green {
    top: -30px;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
  }
}

.back-green__mass {
  position: absolute;
}

.back-green__mass--pro {
  top: 11px;
  left: -10px;
}

@media (min-width: @tablet-width) {
  .back-green__mass--pro {
    width: 268px;
    height: 113px;
    top: 40px;
    left: -35px;
  }
}

@media (min-width: @desktop-width) {
  .back-green__mass--pro {
    width: 134px;
    height: 57px;
    top: 25px;
    left: -15px;
  }
}

.back-green__mass--slim {
  top: -5px;
  left: 5px;
}

@media (min-width: @tablet-width) {
  .back-green__mass--slim {
    width: 141px;
    height: 194px;
    left: 40px;
  }
}

@media (min-width: @desktop-width) {
  .back-green__mass--slim {
    width: 71px;
    height: 97px;
    left: 15px;
  }
}
