.button {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  border: none;
  line-height: 18px;
  letter-spacing: -1px;
  text-align: center;
  color: #ffffff;
  background-color: @leaf;
  font-size: 16px;
  text-transform: uppercase;
}

.button-green {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .button-green {
    width: auto;
    padding: 17px 29px 15px 26px;
    font-size: 20px;
    line-height: 20px;
  }
}
