.check {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid @bg;
  border-bottom: 1px solid @bg;
}

.check__column {
  border: none;
  .pd-20();
  padding-top: 29px;
}

.check__input {
  display: none;
}

.check__item {
  margin-left: 46px;
  margin-bottom: 26px;
}

.check__label {
  position: relative;
  cursor: pointer;
}

.check__label input[type="checkbox"]:checked + .check__indicator::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 8px;
  width: 12px;
  height: 12px;
  background-color: @leaf;
  z-index: 10;
  border-radius: 25px;
}

.check__label input[type="checkbox"] + .check__indicator {
  position: absolute;
  left: -46px;
  top: -3px;
  width: 30px;
  height: 30px;
  border: solid 1px @very-light-pink-three;
  border-radius: 25px;
  background-color: transparent;
}
