.choose label {
  font-size: 16px;
  line-height: 18px;
  color: @light-black;
  text-transform: uppercase;
  margin-right: 16px;
}

.choose__wrapper {
  padding-top: 39px;
}

.choose__item {
  display: flex;
  align-items: center;
}

.choose__input {
  font-size: 16px;
  line-height: 18px;
  color: @greyish-brown;
  padding: 15px;
  font-weight: 400;
  flex-grow: 1;
}

.choose__line {
  display: flex;
}
