.comments__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", sans-serif;
  position: relative;
  display: inline-block;
  padding-right: 22px;
  padding-left: 40px;
  margin-left: -40px;
  margin-top: 0;
  background: #ffffff;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .comments__title {
    margin-bottom: 75px;
    padding-right: 39px;
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: @desktop-width) {
  .comments__title {
    margin-bottom: 75px;
  }
}

.comments__title::before,
.comments__title::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100vw;
  height: 3px;
  margin-top: -10px;
  background: @leaf;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .comments__title::before {
    right: 0;
    top: 85%;
  }

  .comments__title::after {
    top: 85%;
  }
}

.comments__area {
  width: 100%;
  min-height: 150px;
  border: solid 1px @border;
  padding: 14px 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: @greyish-brown;
  margin-bottom: 27px;
}

@media (min-width: @tablet-width) {
  .comments__area {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
    margin-bottom: 64px;
    min-height: 174px;
  }
}

@media (min-width: @desktop-width) {
  .comments__area {
    padding: 11px 18px;
    margin-bottom: 62px;
    min-height: 179px;
  }
}

@media (min-width: @tablet-width) {
  .comments__row {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media (min-width: @desktop-width) {
  .comments__row {
    margin-left: 0;
    margin-right: 0;
  }
}
