.feature {
  width: 100%;

  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .feature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (min-width: @desktop-width) {
  .feature {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
