.feature {
  width: 320px;
  margin: 0 auto;

  background-color: #ffffff;
  .pd-20();
}

@media (min-width: @tablet-width) {
  .feature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 768px;
    margin: 0 auto;
    .pd-30();
  }
}

@media (min-width: @desktop-width) {
  .feature {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1440px;
    margin: 0 auto;
    .pd-110();
  }
}
