.gray-back {
  position: relative;
  background: @bg;
  padding: 29px 20px 20px;
}

@media (min-width: @tablet-width) {
  .gray-back {
    padding: 80px 280px 62px 52px;
  }
}

@media (min-width: @desktop-width) {
  .gray-back {
    max-width: 570px;
    margin-top: 20px;
    padding: 81px 56px 62px 52px;
  }
}

.gray-back__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 70px;
}

@media (min-width: @tablet-width) {
  .gray-back__title {
    padding-left: 0;
    font-size: 36px;
  }
}

@media (min-width: @desktop-width) {
  .gray-back__title {
    padding-left: 162px;
  }
}

.gray-back__description {
  .text-style-Arial();
  margin-top: 29px;
}

@media (min-width: @tablet-width) {
  .gray-back__description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 56px;
    margin-top: 25px;
  }
}

@media (min-width: @desktop-width) {
  .gray-back__description {
    margin-top: 72px;
    margin-bottom: 31px;
  }
}

.gray-back__description--slim {
  margin-top: 29px;
}

@media (min-width: @tablet-width) {
  .gray-back__description--slim {
    margin-top: 26px;
  }
}

@media (min-width: @desktop-width) {
  .gray-back__description--slim {
    margin-top: 72px;
    width: 462px;
  }
}

@media (min-width: @tablet-width) {
  .gray-back__description--pro {
    width: 341px;
  }
}

@media (min-width: @desktop-width) {
  .gray-back__description--pro {
    width: 446px;
  }
}

.gray-back__click {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
}

.gray-back__click::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(1px);
  transition: 0.3s;
}

@media (min-width: @tablet-width) {
  .gray-back__click::after {
    transform: translateY(4px);
  }
}

.gray-back__click:hover::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
  width: 34px;
}

.gray-back__click:active::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
  opacity: 0.3;
}

.gray-back__active:hover {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: @tablet-width) {
  .gray-back__click {
    font-size: 20px;
    line-height: 20px;
  }
}

.gray-back__click a {
  color: @black-three;
}

.gray-back__click:active {
  color: rgba(17, 17, 17, 0.3);
}

.gray-back__line {
  border: 1px solid @very-light-gray;
  margin-bottom: 20px;
  margin-top: 23px;
}

@media (min-width: @tablet-width) {
  .gray-back__line {
    display: none;
  }
}

.gray-back__arrow {
  width: 25px;
  height: 12px;
}

.gray-back__item {
  position: relative;
}

.gray-back__cat {
  padding-right: 12px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: @tablet-width) {
  .gray-back__cat {
    padding-right: 23px;
    font-size: 20px;
    line-height: 20px;
  }
}
