.map {
  height: 365px;
  overflow: hidden;
  position: relative;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  background-image: url("../img/bg-map-mobile@2x.png");
}

@media (min-width: @tablet-width) {
  .map {
    height: 395px;
    background-image: url("../img/bg-map-tablet@1x.png");
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-tablet@2x.png");
  }
}

@media (min-width: @desktop-width) {
  .map {
    height: 400px;
    position: relative;
    background-image: url("../img/bg-map-desktop@1x.png");
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-desktop@2x.png");
  }
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
