.more {
  margin: 0;
}

.more__header {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: @black-three;
}

.more__item {
  margin: 0;
  color: @greyish-brown;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.more__plus-icon {
  opacity: 0.2;
  fill: #222222;
}

.more__button {
  color: @greyish-brown;
  background-color: @bg;
  margin-bottom: 25px;
}
