.page-header {
  position: relative;
  border-bottom: 1px solid @solid;
}

@media (min-width: @tablet-width) {
  .page-header {
    border-bottom: none;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    padding-top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    padding-top: 55px;
    padding-bottom: 48px;
  }
}

.page-header__container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  .pd-20();
}

@media (min-width: @tablet-width) {
  .page-header__container {
    max-width: 100%;
    .pd-30();
  }
}

@media (min-width: @desktop-width) {
  .page-header__container {
    .pd-40();
  }
}

.page-header__logo {
  display: block;
  width: 100%;
  max-width: 190px;
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    max-width: 202px;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

.page-header__logo-image:hover {
  opacity: 0.8;
}

.page-header__logo-image:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}

.page-header__container-index::after {
  content: "";
  position: absolute;
  width: 100%;

  left: 0;
  min-height: 309px;
  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: @grass-two;
  z-index: -1;
}

@media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
  .page-header__container-index::after {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

@media (min-width: @tablet-width) {
  .page-header__container-index::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__container-index::after {
    display: block;
    width: 50%;
    top: 0;
    right: 0;
    min-height: 696px;
    left: inherit;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: @grass-two;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    .page-header__container-index::after {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.page-header__toggle {
  position: relative;
  z-index: 7;
  display: none;
  padding: 0;
  width: 25px;
  line-height: 30px;
  margin-bottom: 6px;
  background: transparent;
  border: none;
  user-select: none;
  cursor: pointer;
  margin-top: 6px;
}

@media (min-width: @tablet-width) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__toggle span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  font-size: 0;
  color: transparent;
  background: #111111;
}

.page-header__toggle--close span {
  background: transparent;
}

.page-header__toggle span::before,
.page-header__toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #111111;
}

.page-header__toggle span::before {
  top: -7px;
}

.page-header__toggle span::after {
  top: 7px;
}

.page-header__toggle--close span::after,
.page-header__toggle--close span::before {
  transition: 0.3s, transform 0.3s 0.3s;
  top: 0;
}

.page-header__toggle--close span::before {
  transform: rotate3d(0, 0, 1, -45deg);
}

.page-header__toggle--close span::after {
  transform: rotate3d(0, 0, 1, 45deg);
}
