.page-footer {
  background-color: @bg;
}

.page-footer a {
  color: @greyish-brown;
}

.page-footer__wrapper {
  background-color: @bg;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    .pd-30();
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    .pd-110();
  }
}

.page-footer__logo-image {
  margin-top: 39px;
  margin-bottom: 31px;
}

.page-footer__social {
  margin-top: 26px;
  margin-bottom: 24px;
}
