.page-header {
  position: relative;
  border-bottom: 1px solid @solid;
}

@media (min-width: @tablet-width) {
  .page-header {
    border-bottom: none;
  }
}

.page-header__toggle {
  margin-top: 6px;
  border: none;
  background: none;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .page-header__toggle {
    display: none;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    padding-top: 24px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__wrapper {
    padding-top: 55px;
    padding-bottom: 48px;
  }
}

.page-header__container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  .pd-20();
}

@media (min-width: @tablet-width) {
  .page-header__container {
    max-width: 100%;
    .pd-30();
  }
}

@media (min-width: @desktop-width) {
  .page-header__container {
    .pd-40();
  }
}

.page-header__logo {
  display: block;
  width: 100%;
  max-width: 190px;
}

@media (min-width: @tablet-width) {
  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }
}

.page-header__container-index::after {
  content: "";
  position: absolute;
  width: 100%;

  left: 0;
  min-height: 305px;
  background-image: url("../img/index-background-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #63a73a;
  z-index: -1;
}

@media (min-width: @tablet-width) {
  .page-header__container-index::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header__container-index::after {
    display: block;
    width: 50%;
    top: 0;
    right: 0;
    min-height: 696px;
    left: inherit;
    background-color: #63a73a;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
