.page-main__logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -134px;
}

@media (min-width: @tablet-width) {
  .page-main__logo-image {
    margin-top: 0;
  }
}

.page-main__wrapper {
  .pd-20();
  margin: 0 auto;
  position: relative;
  display: block;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    max-width: 100%;
    .pd-30();
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    .pd-40();
    max-width: 1300px;
  }
}

.page-main__header {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @black-three;
  margin-bottom: 40px;
  padding-top: 28px;
}

@media (min-width: @tablet-width) {
  .page-main__header {
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 55px;
    padding-top: 55px;
    letter-spacing: -2px;
    font-weight: 400;
  }
}

@media (min-width: @desktop-width) {
  .page-main__header {
    padding-top: 20px;
    margin-bottom: 57px;
  }
}

.page-main__header::after {
  content: "";
  position: absolute;
  left: -20px;
  right: 0;
  top: 120px;
  height: 1px;
  background: @very-light-gray;
  width: calc(100% + 40px);
}

@media (min-width: @tablet-width) {
  .page-main__header::after {
    display: none;
  }
}

.page-main__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 35px;
}

.page-main__line {
  font-size: 14px;
  line-height: 18px;
  max-width: 226px;
  text-transform: uppercase;
}
