.site-list {
  margin: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    margin-right: -20px;
  }
}

.site-list__item {
  position: relative;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .site-list__item--active::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 40px);
    left: 20px;
    background: @leaf;
    transform: translateY(-5px);
  }
}

.site-list__link {
  position: relative;
  display: block;
  padding: 22px 0;
  text-transform: uppercase;
  line-height: 20px;
  font-weight: 500;
  font-size: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid @solid;
  color: @black-three;
}

@media (min-width: @tablet-width) {
  .site-list__link {
    margin-left: 0;
    margin-right: 0;
    border-top: none;
    padding: 10px 18px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: @light-black;
  }

  .site-list__link:hover {
    color: @black-two;
  }

  .site-list__link:active {
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: 25px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link-white {
    color: @white-two;
  }

  .site-list__link-white:hover {
    color: @white-60;
  }

  .site-list__link-white:active {
    color: @white-60;
    opacity: 0.3;
  }
}

@media (min-width: @desktop-width) {
  .site-list__link-white--active::after {
    background: @white-two;
  }

  .site-list__link-white--active:hover::after {
    display: none;
  }
}
