@black-three: #111111;
@greyish-brown: #444444;
@leaf: #68b738;
@bg: #f2f2f2;
@brownish-grey: #666666;
@very-light-pink-three: #cdcdcd;
@very-light-gray: #d9d9d9;
@solid: #ededed;
@light-black: #222222;
@tablet-width: 768px;
@desktop-width: 1300px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

.text-style-Arial() {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;
}

.pd-20() {
  padding-left: 20px;
  padding-right: 20px;
}

.pd-30() {
  padding-left: 30px;
  padding-right: 30px;
}

.pd-40() {
  padding-left: 40px;
  padding-right: 40px;
}
