@black-three: #111111;
@greyish-brown: #444444;
@leaf: #68b738;
@bg: #f2f2f2;

.text-style-Arial() {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @greyish-brown;
}

.ident() {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 100px;
  left: 50%;
}
